@charset "utf-8";
/* CSS Document */

.quote
{
	
	 z-index:1;
	
	}

.quoteTop{
	background:url(../images/quoteTop.png) no-repeat;
	width:560px;
	height:75px;
	clear:both;
}

.popTitle{
	font-size:14px;
	color:#FFFFFF;
	width:450px;
	float:left;
	padding:20px 0 0 20px;
	font-weight:bold;
}

.popClose{
	float:right;
	margin:20px 24px 0 0px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	
}

.quoteBody{
	background:url(../images/quoteBody.png) repeat-y;
	font-size:12px;
	color:#666666;
	width:520px;
	padding:20px 20px 0;
	clear:both;
}

.quoteBody2{
	background:url(../images/quoteBody.png) repeat-y;
	font-size:12px;
	color:#666666;
	width:560px;
	clear:both;
}

.quoteBody h2{
	font-size:18px;
	color:#666666;
	width:520px;
	margin-bottom:10px;
	text-align:left;
}

.quoteTButt{
	background:url(../images/quoteButt.png) no-repeat;
	width:560px;
	height:17px;
	/*list-style-image:*/
}
	
.contHead{
	padding:5px 15px 45px 10px;
	clear:both;
}

.contHead h3{
	font-size:21px;
	color:#61a3f1;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:15px;
}

.contHead h4{
	font-size:14px;
	color:#333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:10px;
}

.contHead p{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
}

.prodCont{
	margin:0 0 0 10px;
	width:721px;
	border-top:solid 1px #bcbcbc;
	clear:both;
	padding:10px 7px 5px;
}

.prodContNew{
	margin:0 0 0 10px;
	background:url(../images/newProduct.jpg) no-repeat top right;
	width:721px;
	height:165px;
	border-top:solid 1px #bcbcbc;
	clear:both;
	padding:10px 7px 5px;
}

.prodContLine{
	margin:10px;
	width:721px;
	height:1px;
	border-top:solid 1px #bcbcbc;
	clear:both;
	
}

.prodImg{
	float:left;
	width:102px !important;
	/*height:127px !important;*/
	
}

.prodDesc{
	float:left;
	width:331px;
	padding: 13px 10px 0 20px;
}

.prodDesc h2, .prodDesc h2 a{
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	margin-bottom:3px;
	font-weight: bolder;
	/*text-decoration:none;*/
}

.prodDesc h3{
	font-size:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#e67f42;
	font-weight:bold;
	margin-bottom:4px;
}

.prodDesc h4{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#e67f42;
	text-transform: uppercase;
	margin-bottom:6px;
}

.prodDesc h5{
	 font-size:12px;
	 font-family:Verdana, Arial, Helvetica, sans-serif;
	 color:#333333;
	 margin-bottom:10px;
}

.prodDesc h6{
	font-size:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	font-weight:bold;
	margin-bottom:4px;
}

.prodDesc p{
	font-size:11px;
	margin-bottom:15px;
}

.prodDesc a{
	color:#61a3f1;
}

.prodNumber{
	background:url(../images/specsBg.jpg) no-repeat;
	float:left;
	width:127px;
	height: 150px;
}

.prodNumCont{
	height:58px;
	clear:both;
	padding:12px 0px 18px;
	margin:0 0 7px 0;
}


.numBG{
	background: url(../images/specsBgGray.jpg) no-repeat;
	text-align:center;
	height:32px;
	width:103px;
	margin:5px auto;
	padding: 2px 0 0 0;
	font-size:12px;
	color:#333;
	
}

.numBG span{
	color:#e67f42;
}

.prodNumber p{
	text-align:center;
	font-size:11px;
	color:#333;
}

.prodNumber img, .prodNumber1 img {
	margin:0px 0px 2px 9px;
}

.prodMore, .prodMore a{
	clear:both;
	font-size:11px;
	text-decoration:none;
	width:721px;
	text-align:right;
	color:#5ea8eb;
}


.prodDesc1{
	float:left;
	width:450px;
	padding: 13px 10px 0 20px;
}

.prodDesc1 h2, .prodDesc1 h2 a{
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	margin-bottom:3px;
	font-weight: bolder;
	/*text-decoration:none;*/
}


.prodDesc1 p{
	font-size:11px;
	margin-bottom:15px;
}

.prodDesc1 a{
	color:#61a3f1;
	text-decoration:none;
}

.prodDesc a{
	color:#61a3f1;
	text-decoration:none;
}

.prodNumber1{
	float:left;
	width:127px;
	margin-top:14px;
	height: 140px;
	padding-left: 5px;
}

.formCell{
	clear:both;
	width:550px;
	margin:5px;
	height: 25px;
}

.formLabel{
	float:left;
	width:175px;
	text-align:right;
	padding-right:20px;
	padding-top: 5px;
}

.formInput{
	float:left;
	width:240px;
}

.formInput select{
	width: 235px !important;
}

.formInput input{
	width:230px !important;
}

.formAlert{
	float:left;
	width:100px;
}

.toolTip:hover,.mb:hover{
	background-color: transparent;
	text-decoration: none;
}

.toolTip span,.mb span{ /*CSS for enlarged image*/
	position: absolute;
	background-color: #fcfae7;
	padding: 7px;
	left: -1000px;
	border: 1px solid #7b7b7b;
	visibility: hidden;
	color:#333;
	text-decoration: none;
	line-brake:none;
	display:inline-block;
	white-space:nowrap;
	z-index:1000;
}


.toolTip:hover span, .mb:hover span{ /*CSS for enlarged image on hover*/
	visibility: visible;
	top: 34px;
	left: 30px; /*position where enlarged image should offset horizontally */
	text-decoration: none;
	z-index:1000;

}

.toolTip1{
	position: relative;
	text-decoration: none;
	margin:0;
}

.toolTip1:hover{
	background-color: transparent;
	text-decoration: none;
}

.toolTip1 span{ /*CSS for enlarged image*/
	position: absolute;
	background-color: #fcfae7;
	padding: 7px;
	border: 1px solid #7b7b7b;
	visibility: hidden;
	color:#333;
	text-decoration: none;
	line-brake:none;
	display:inline-block;
	white-space:nowrap;
	z-index:1000;
}


.toolTip1:hover span{ /*CSS for enlarged image on hover*/
	visibility: visible;
	top: -20px;
	*top: 15px;
	left: 50px; /*position where enlarged image should offset horizontally */
	text-decoration: none;
	z-index:1001;

}
.tipImage{
	margin:0 0 0 8px;
}

.tipImage img, .tipImage a img{ margin:1px; z-index:-10;}

.prodSrcRef{
	margin:0px;
	width:528px;
	border-top:solid 1px #bcbcbc;
	clear:both;
	padding:25px 7px 10px;
}
/*//test/*/
.prodwish{
	margin:0px;
	width:528px;
	height:215px;
	border-top:solid 1px #bcbcbc;
	clear:both;
	padding:10px 7px 0px;
}

.prodSrcDesc{
	float:left;
	width:255px;
	padding: 0px 10px 0 25px;
}

.prodSrcDesc h2, .prodSrcDesc h2 a{
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	margin-bottom:3px;
	font-weight: bolder;
	text-decoration:none;
}

.prodSrcDesc h3{
	font-size:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#e67f42;
	font-weight:bold;
	margin-bottom:4px;
}

.prodSrcDesc h4{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#e67f42;
	text-transform: uppercase;
	margin-bottom:6px;
}

.prodSrcDesc h5{
	 font-size:12px;
	 font-family:Verdana, Arial, Helvetica, sans-serif;
	 color:#333333;
	 margin-bottom:10px;
}

.prodSrcDesc h6{
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	margin-bottom:3px;
	font-weight: bolder;
	text-decoration:none;
}

.prodSrcDesc p{
	font-size:11px;
	margin-bottom:15px;
}

.prodSrcDesc a{
	color:#61a3f1;
}

.prodCartDesc{
	float:left;
	width:200px;
	padding: 0px 10px 0 15px;
}

.prodCartDesc h2, .prodCartDesc h2 a{
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	margin-bottom:3px;
	text-decoration:underline;
	padding-top: 5px;
	line-height:15px;
}

.prodCartDesc h3{
	font-size:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#e67f42;
	font-weight:bold;
	margin-bottom:4px;
}

.prodCartDesc h4{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#e67f42;
	text-transform: uppercase;
	margin-bottom:6px;
}

.prodCartDesc h5{
	 font-size:12px;
	 font-family:Verdana, Arial, Helvetica, sans-serif;
	 color:#333333;
	 margin-bottom:10px;
}

.prodCartDesc p{
	font-size:11px;
	margin-bottom:15px;
}

.prodCartDesc a{
	color:#61a3f1;
}

.prodQua{
	float:left;
	width:50px;
	font-size:12px;
	color:#333;
	text-align:right;
	margin-right: 18px;
	*margin:0 0 0 10px;
}
.prodQua input{
	margin:5px 0;
}

.prodQua a{
	color:#81b5f4;
	line-height:15px;
	font-size:11px;
}

.prodPrice{
	float:left;
	width:60px;
	font-size:12px;
	color:#333;
	text-align:right;
	margin-right: 18px;
}

.prodPrice p{
	margin-top:10px;
}


.prodTotal{
	float:left;
	width:50px;
	font-size:12px;
	color:#333;
	text-align:right;
}

.prodTotal p{
	margin-top:10px;
}

.prodTotal span{
	color:red;
}



/* ----------------IMAGE SLIDER------------- */
#SlideItMoo_outer {
	background:#FFF;
	display:block;
	position:relative;
	/*max-width:540px;*/
}
/* create custom forward-backward buttons for this container */
#SlideItMoo_outer .SlideItMoo_forward{ 
	display:block; 
	position:absolute; 
	cursor:pointer; 
	width:30px; 
	height:163px; 
	bottom:0px; 
	right:5px; 
	background: url(../images/rigthArrow.jpg) no-repeat center;  
}
#SlideItMoo_outer .SlideItMoo_back { 
	display:block; 
	position:absolute; 
	cursor:pointer; 
	width:30px; 
	height:163px; 
	bottom:0px;
	left:5px; 
	background: url(../images/leftArrow.jpg) no-repeat center;  
}

/* the width is set to show the number of thumbnails that will be visible */
#SlideItMoo_inner{
	position:relative;
	overflow:hidden;
	border-bottom: solid 1px #bcbcbc;
	border-top: solid 1px #bcbcbc;
	margin: 0 auto;
	height: 161px;
}
/* the thumbnails container; set a width on it so everything will be fine */
#SlideItMoo_items { 
	display:block; 
	position:relative; 
}
/* single element design */
#SlideItMoo_items div.SlideItMoo_element { 
	display:block; 
	position:relative; 
	float:left; 
	margin:0px; 
	font-size:11px;
	padding:10px 0px 0px; 
	width:165px; 
	text-align:center; 
	color:#000;
	text-align:center;
	 
}
#SlideItMoo_items a { padding:0px; margin:3px 0px 3px; clear:both; display:block; background:#333333; padding:2px; }
#SlideItMoo_items a img{ border:none; }
#SlideItMoo_items div.SlideItMoo_element p{ margin: 0 auto; text-align:center;}

.cartBtn{
	width:542px;
	padding:10px 0;
	height: 25px;
}

.cartBtn img{
	float:right;
	margin: 0 0 0 10px;
}

.cartGrayBar{
	height:15px;
	padding:5px 10px;
	background:#eeeeee;
	width:527px;
}

.prodCart{
	margin:0px;
	width:528px;
	border-bottom:solid 1px #bcbcbc;
	clear:both;
	padding:10px 7px;
	height: 130px;
}

.prodDet{
	float:left;
	width:760px;
}

#resultControls1{
	width: 750px;
	margin-top: 26px;
	color: #333;
	clear: both;
}

 #resultControls1 h2{
	font-size:15px;
	color:#333;
	margin: 10px 20px;
}

.slideshowContainer {
	width: 214px;
	height: 253px;
	margin-bottom: 5px;
}

.loading {
	background: url(images/loading.gif) center no-repeat;
}

.slideshowThumbnail {
	outline: none;
}

.slideshowThumbnail img {
	border: 1px solid #ccc;
	padding: 0px;
	margin:2px;
}

a:hover.slideshowThumbnail img {
	border: 1px solid #ccc;
	padding: 0px;
}

.current img {
	border: 1px solid red;
	padding: 0px;
}

.outline {
	border: 4px solid gray;
	z-index: 0;
	position: absolute;
}

#thumbnails {
	/*width: 130px;
	float: left;*/
}

.prodSlide{
	width:280px; 
	float:left;
	margin-right:25px;
}

.prodInfoDesc{
	width:450px; 
	float:left;
	height:400px;
}

.prodDetLeft{
	width:760px;
	float:left;
}

.prodInfoDesc{
	float:left;
}

.prodInfoDesc h1{
	color:#333;
	font-size:21px;
	margin-bottom:10px;
	
}

.prodInfoDesc h2{
	color:#333;
	font-size:14px;
	margin-bottom:10px;
	
}

.prodInfoDesc h2 a{
	color:#61a3f1;
	font-size:11px;
	margin-bottom:10px;
	
}


.prodInfoDesc h3{
	color:#333;
	font-size:12px;
	margin-bottom:10px;
	text-align:right;
}

.prodInfoDesc h3 span{
	color:#e67f42;	
}


.prodInfoDesc p{
	font-size:11px;
	color:#333;
	margin-bottom:6px;
	font-size: 11px;
}

.prodInfoDesc a{
	font-size:11px;
	color:#61a3f1;
}

.prodInfo2{
	clear:both;
	border-top: solid 1px #333333;
	width:450px;
	padding:5px 0px 10px 0;
	height: 1px;
}

.prodInfoR{
	width:190px;
	float:left;
}

.prodInfoR a,.prodInfoR img{
	margin:-2px 0 0 0;
	padding:0;
}

.prodInfoL{
	float:left;
	width:260px;
}

.prodInfoL p{
	font-size:11px;
	color:#333;
	margin: 0 0 15px 0;
}

.prodInfoL p input{
	font-size:11px;
	color:#333;
	margin:7px 10px 0 3px;
}

.prodInfoL h2{
	font-size:21px;
	color:#e67f42;
	font-weight: bold;
	margin: 15px 0;
	clear: both;
}

.prodInfoL h3{
	font-size:14px;
	color:#e67f42;
	text-align:left;
}

.prodInfoL h4{
	font-size:12px;
	color:#333;
	text-align:left;
	margin: 10px 0 0 0;
}

.prodInfoL h6{
	font-size:21px;
	color:#666;
	font-weight: bold;
	margin: 15px 0;
	clear: both;
}


.leftBtn{
	float:left;
	margin: 0 10px 0 0;
	height:60px;
	width:110px;
}

.rigthBtn{
	float:left;
	height:60px;
	width:110px;
}

#accordion4 h2, dl.accordion4 dt h2{
	color:#333;
	font-size:14px;
	margin:20px 0 10px 0;
	font-weight:bold;
}

dl .accordion4 dd p{
	color:#333;
	font-size:12px;
	margin: 10px 0;
}

.accordion4 dt.open span {
	display:none; 
	visibility:hidden;
}

.accordion4 dt.closed span {
	color:#61a3f1; 
	margin-top:5px;
}

dl.accordion4 dt {
	color:#666;
	margin:10px 0;
}

dl.accordion4 dt span {
	color:#61a3f1;
	margin:10px 0 3px 0;
	cursor: pointer;
}

dl.accordion4 dd p, dl.accordion4 dt p{
	margin: 10px 0;
	overflow: hidden;
	color: #666;
}

.formQty1{
	width: 69px;
	float: left;
	padding:5px 10px 0 0px;
}

.formDesc1{

	width: 280px;
	float: left;
	padding-right: 10px;
	padding-top: 5px;
}

#prodDetBox{
	background: url(../images/prodDetBox.jpg) repeat-y;
	width:756px;
	margin:10px 0;
	padding:0px;
}

#prodDetBoxTop{
	background: url(../images/prodDetBoxTop.jpg) no-repeat top left;
	width:756px;
	margin:0;
	padding:0px;
}

#prodDetBoxBut{
	background: url(../images/prodDetBoxButt.jpg) no-repeat bottom left;
	width:756px;
	margin:0;
	padding:0px 0 2px 1px;
}

.prodDetBarX{
	background: url(../images/prodBarX.jpg) repeat-x;
	width:756px;
	height:32px;
	margin:0;
	padding:0px; 
	clear:both;
}

.prodDetBarL{
	background:url(../images/prodBarL.jpg) top left no-repeat;
	width:746px;
	height:27px;
	padding:0px;
	clear:both;
	padding:10px 0 0 10px;
}

.prodDetBarR{
	background: url(../images/prodBarR.jpg) top right no-repeat;
	width:756px;
	height:32px;
	padding:0px; 
	clear:both;
}

.prodDetBarL img{ 
	margin:0 7px -5px 7px;
}

.prodDetBarL p{
	margin:-5px  10px 0 10px;
	color:#333;
	line-height: 12px;
}

.prodBarButt{
	clear:both;
	background:url(../images/prodBarButt.jpg) no-repeat top left;
	width:736px;
	height:7px;
	margin: 0 0 15px 20px;
}

/******************************image gallery*********************/

#gallerywrapper{
	float:left;
	position:relative;
	z-index:4;
}

.gallerydisplay {
	padding:0 0 0 5px;
	margin:0px 0 0 0;
	list-style-type:none;
	float:left;
}
#defaultimage{
	background:url(../images/aditionalImages.jpg) no-repeat left bottom;
	width:280px;
	height:320px;
}

img{outline:none;}
img a{outline:none;}

 img.zoom {
	position:absolute;
	border:0;
	left:220px;
	bottom:130px;
	z-index:5;
	outline:none;
}


/*****************************multibox*************************/
/*
multiBox - for MooTools 1.2 stylesheet - - - - */
a.mb, a:link.mb, a:visited.mb, a:hover.mb, a:active.mb{
	outline:none;
	padding:0;
	text-decoration:none;
	
}



.mb img{
	display:block;
	border:none;
}

.mbClear{
	clear:both;
	width:100%;
	height:20px;
}

.mbHidden, .multiBoxDesc{
	display:none;
}


/*
Pop-up styles - - - - */
.MultiBoxContainer{
	position:absolute;
	display:none;
	z-index:103;
	text-align:left;

	}
	
.MultiBoxContainer
{
	background: none !important;
	_background: none !important;
	*background: none !important;
	
	
	}
	
	

.MultiBoxLoading{
	background:url(../Images/mb_Components/loader.gif) center no-repeat;
}

.MultiBoxContent{
	position:relative;
	width:560px;
	/*height:100%;*/
}

.MultiBoxClose{
	float:right;
	margin:15px;
}

.MultiBoxControlsContainer{
	overflow:hidden;
	height:0;
	position:relative;
}

.MultiBoxControls{
	width:100%;
	position:relative;
	background:#000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#fff;
	display:none;
}

.MultiBoxDownload a, .MultiBoxDownload a:link, .MultiBoxDownload a:visited, .MultiBoxDownload a:hover, .MultiBoxDownload a:active{
	font-size:9px;
	color:#ccc;
	margin:5px 0 0 35px;
	display:block;
	text-decoration:none;
	text-transform:uppercase;
	text-align:right;
	outline:none;
}

.MultiBoxDownload a:hover{
	color:#fff;
}

.MultiBoxPrevious{
	background:url(../Images/mb_Components/left.png) no-repeat;
	position:absolute;
	width:24px;
	height:24px;
	left:0;
	margin:5px 0 0 0;
	cursor:pointer;
}

.MultiBoxNext{
	background:url(../Images/mb_Components/right.png) no-repeat;
	position:absolute;
	width:24px;
	height:24px;
	right:0;
	margin:5px 0 0 0;
	cursor:pointer;
}

.MultiBoxNextDisabled{
	background:url(../Images/mb_Components/rightDisabled.png) no-repeat;
	cursor:default;
}

.MultiBoxPreviousDisabled{
	background:url(../Images/mb_Components/leftDisabled.png) no-repeat;
	cursor:default;
}


/*
Bottom text - - - - */
.MultiBoxTitle{
	position:relative;
	margin:10px 0 0 35px;
	float:left;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	display:inline;
}

.MultiBoxNumber{
	position:relative;
	width:90px;
	margin:10px 35px 0 0;
	float:right;
	font-size:11px;
	text-align:right;
	display:inline;
}

.MultiBoxDescription{
	clear:left;
	position:relative;
	margin:0 35px 0 35px;
	padding:5px 0 0 0;
	font-size:11px;
	text-align:left;
}


/*
Overlay icon - - - - */
.OverlayIcon{
	background:transparent url(../Images/mb_Components/MagIcon.png) no-repeat;
	position:absolute;
	right:-5px;
	top:-5px;
	width:17px;
	height:17px;
}


/*
MooTools tips - - - - */
.mbTips{
	font-size:10px;
	color:#000;
	padding:2px;
}

.mbTips .tip-text{
	display:none;
}
.MultiBoxContent{
	position:relative;
	width:560px;
	height:100%;
}

.MultiBoxClose{
	position:absolute;
	top:0px;
	float:right;
	width:33px;
	height:31px;
	margin-left:512px;
	cursor:pointer;
	/*background-color:#999999;
	background: url(../images/close.png) no-repeat;*/
}

.MultiBoxControlsContainer{
	overflow:hidden;
	height:0;
	position:relative;
}

.MultiBoxControls{
	width:100%;
	position:relative;
	background:#000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#fff;
}

.leftShare{
	width:60px;
	float:left;
	padding:0 0 0 5px;
}

.leftShare h2{
	color:#333;
	font-size:14px;
	margin-bottom:10px;
	font-weight:bolder;
}

.rigthShare{
	 float:right;
	 width:440px;
}

.rigthShare p{
	color:#333;
	font-size:12px;
	margin-bottom:10px;
}

.shareText{
	border-bottom: solid 1px #333;
	padding:20px 5px;
	margin:0 0 5px 0;
}

.shareText p{
	color:#333;
	font-size:12px;
}

.shareIcons{ clear:both;}

.shareIcons h2{
	color:#333;
	font-size:14px;
	margin-bottom:10px;
}

.shareIcons ul{
	display:inline;
	width:400px;
	margin:5px 0 10px 25px;
}

.shareIcons ul li{
	float:left;
	/*padding:0 20px 10px 0;*/
	/*display:inline;*/
	width:75px;
}

.shareIcons ul li a{}

.shareBtn{ 
	clear:both; 
	margin:10px 0 0 0; 
	text-align:right;
}


.FreeToolsTab{
	padding:0 0 0 9px;
	clear:both;
	margin:0;
	height:49px;
}

.FreeTools{
	background:url(../images/trialBox.jpg) repeat-y;
	width: 502px;
	margin:0 0 20px 0;
}

.FreeToolsTop{
	background:url(../images/trialBoxTop.jpg) no-repeat top left;
	padding: 11px 0 0 0;
	width: 502px;
}

.FreeToolsButt{
background:url(../images/trialBoxButt.jpg) no-repeat bottom left;
	padding:0 0 11px;
	width: 502px;
}

.FreeToolsButt ul{
	padding:0;
	margin:0;
	list-style:none;
}

.FreeToolsButt ul li{
	background:url(../images/trialBoxDots.jpg) no-repeat bottom left;
	margin:10px 0 7px 28px;
	width:447px;
	clear:both;
	height:47px;
}

.FreeToolsButt ul li img{
	float:left;
	margin:8px 20px 5px 0;
}

.FreeToolsButt ul li p{
	float:left;
	width:400px;
	margin:0 0 2px 0;
	padding:0;
}

.FreeToolsButt ul li p a{
	color:#61a3f1;
}

.toolMore{
	float:left;
	width:110px;
	margin:15px 0 15px 42px;
}

.toolMore a{
	color:#81b5f4;
}

.toolList{
	float:left;
	width:300px;
	margin: 5px 0 0 0;
}

.toolList ul {
	margin: 0 ;
}

.toolList ul li{
	background: url(../images/toolBlueDot.jpg) left top no-repeat;
	padding:3px 14px 0 14px;
	margin: 0;
	height: 15px;
}

.sitemap{
	padding:25px;
	clear:both;

}

.sitemapColI{
	float:left;
	width:167px;
}

.sitemapColII{
	float:left;
	width:367px;
	padding:0 0 0 172px;
}

.sitemapTitle{
	width:165px;
	/*height:30px;*/
	padding:10px;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	background: #a0a0a0;
	
}

.sitemapTitle p{

	padding:5px 0;
	margin-left:15px;
}

.siteMapList{
	margin:23px 0 70px 0px;
}

.siteMapList ul{
	margin:0 0 0 3px;
	padding:0;
}

.siteMapList ul li{
	background:url(../images/siteMapDot.jpg) no-repeat;
	padding:0 0 3px 13px;
	margin: 5px 0 0px 0;
	list-style:none;
	font-size:11px;
}

.siteMapList ul li a{
	color:#333;
	margin: 3px 0 3px 0;
}

.siteMapList ul li ul{
	margin:0;
	padding:0 0 0 20px;
}

.siteMapList ul li ul li,.siteMapList ul li ul li a{
	padding:0px;
	color:#333;
	list-style:none;
	background-image:none;
}

/*Start CSS Mail*/

.mailResource1{

	width:225px;
	float:left;
}

.mailResource1 div.image{

	height:40px;
}

.mailResource1 div.info{

	padding-left:25px;
}

.mailResource1 h2 {
	font-size: 15px;
	color: #3d71a3;
	line-height: 18px;
	font-weight: bold;
	margin-top: 15px;
}

.mailResource1 h3 {
	font-size: 13px;
	color: #333333;
	font-weight: bold;
	margin-top: 12px;
	line-height: 15px;
	white-space: nowrap;
}

.mailResource1 h4 {
	font-size: 13px;
	color: #333333;
	font-weight: bold;
	line-height: 16px;
	white-space: nowrap;
	margin-bottom: 10px;
}

.mailResource1 p {
	font-size: 10px;
	color: #666;
	line-height: 15px;
}

.mailResource1 p a {
	font-size: 10px;
	color: #666;
	text-decoration: none;
	line-height: 15px;
}

.mailResource1 p a:hover {
	font-size: 10px;
	text-decoration: underline;
	color: #666;
	line-height: 15px;
}

.mailResource1 p span{ 
	color:#333;
}

.mail-content{

	color:#9d9d9d; background:url(../images/mail1_01.jpg); width:800px; height:1000px; margin:auto;
}

.wrapperMail{

	width:740px; margin:auto; padding-top:30px;
}

.cornerMail{

	height:9px;
}

.cornerMail div.curveTopLeft{

	 float:left;
	 width:11px;
	 height:9px;
	 background: url(../images/corner1Mail.png) no-repeat;
}

.cornerMail div.curveBottonLeft{

	 float:left;
	 width:11px;
	 height:9px;
	 background: url(../images/corner3Mail.png) no-repeat;
}

.cornerMail div.centerCurve{

	background: #FFFFFF; float:left; width:718px; height:9px;
	
}

.cornerMail div.curveTopRight{

	 float:right;
	 width:11px;
	 height:9px;
	background: url(../images/corner2Mail.png) no-repeat;
}

.cornerMail div.curveBottonRight{

	 float:right;
	 width:11px;
	 height:9px;
	 background: url(../images/corner4Mail.png) no-repeat;
}		

.contMail{

	background:#FFFFFF; clear:both;
}

.main-Mail{

	width:675px; margin: 0 auto;
}

.logoER{

	width:235px; height:56px; padding:30px 0 25px 0;
}

.info-Mail{

	padding:25px 0 0 12px;
	height:550px;
} 

.contact-Mail{

	padding: 25px 20px 20px 20px; clear:both;
}

.contact-Mail div.boxEducation{

	height:20px; padding-bottom:15px;
}

.boxEducation img{

	margin-right:10px; float:left;
} 

.boxEducation p{

	float:left; color:#666666; font-weight:bolder; font-size:11px;
} 

.copyright{

	height:25px; padding:20px 0 0 25px;
}

.copyright p.allContent{

	font-size:10px; color:#9d9d9d; width:350px; float:left; margin-top:3px;
}

.copyright p.tollFree{

	font-size:13px; color:#333333; width:250px; font-weight:bolder; float:right; text-align:right;
}

/*End CSS Mail*/


/*About*/

.boxAboutInfo{

	float:left;
}

.centerContainer
{
	
		display:block;
		position:fixed;	
}

.boxProductPOP{

	width:332px;
}

.topProductPOP{

	background:url(../images/topProductPop.png) no-repeat; width:332px; height:33px;
}

.closeProductPOP{

	width:20px; height:20px; float:right; margin:10px 12px 0 0; cursor:pointer;
}

.contProductPOP{

	background:url(../images/mainProductPop.png); width:332px; clear:both;
}

.bottonProductPOP{

	background:url(../images/bottonProductPop.png); width:332px; height:7px;
}

.btnBulkRequest{
	width:128px; height:31px; margin-top:31px;
	}
	
.btnBulkContinue{
	margin-top:10px; float:right; clear:both;
	}
	
accordion4.open{color:#666;}

accordion4.open ul li{
	margin:5px 15px;
	list-style:square;
}

.mainAccount1 a, dl.accordion4 dd p a{
	color:#81B5F4;
	
}

.infoCurriculum p span a {color:#81B5F4; text-decoration:none;}
.infoCurriculum a:link, a:visited {color: #81B5F4}
.infoCurriculum a:hover {color: #81B5F4;}

.mbMenu a:hover
{
	background: url(images/navHover.jpg) repeat-x; height:24px;
}


#refineSearch
{
	*margin-top:26px;
	*margin-left:-163px;
	
	}
	
#refineSearch select
{
	*height:21px;
	}

	 
#MultiBoxContentContainer iframe
{
	width:100%;
	*width:100%;
	_width:100%;
	/*SCROLLING:NO;*/

	}
	
#btnWhatIsClose
{	
	width:50px; 
	margin-left:435px; 
	cursor:pointer;	
}

.bullets ul
{
	list-style-type:inherit;
	color:#666666;
	margin-left:15px;

	}
	
	.prodSrcDesc h2 a:hover{

    text-decoration:underline;
}

.open ul li
{
    list-style-type:disc;   
    }
.accordion2 .open ul li
{
    list-style-type:none;   
    }