<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
 
  
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
    
  </configSections>
  
  <appSettings>
    
    <add key="conStringSQL" value="Data Source=(local)\HUGOVIN;Initial Catalog=ER;Integrated Security=True" />
    

    <add key="SiteId" value="1" />
    <add key="SiteImagesPath" value="http://images.edresources.com/main/" />
    <add key="SiteImagesPathThumb" value="http://images.edresources.com/thumbnail/" />
    <add key="SiteImagesPathBig" value="http://images.edresources.com/main/" />
    <add key="SiteImagesPathAdditional" value="http://external.edresources.com/ProductDocs/" /> 
    <add key="UPS_XML_ACCESS_KEY" value="2C44986E2F8FE20C"/>
    <add key="PGP_PUB_KEY" value="C:\ER\keys\pub.asc"/>
    <add key="PO_EMAIL" value="custserv@edresources.com" />

  </appSettings>
  <connectionStrings>
    <!-- <add name="ER_CMSConnectionString" connectionString="Data Source=LAT10-TMKI0NFZE\SQLEXPRESS;Initial Catalog=ER_CMS;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <system.web>
    
    <pages buffer="true" validateRequest="true" />
   
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>
    <siteMap defaultProvider= "default">
      <providers>
        <add name="default" type="System.Web.XmlSiteMapProvider" siteMapFile="CMS/web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>

    <customErrors mode="Off" defaultRedirect="500error.html">
      <error statusCode="403" redirect="404.aspx" />
      <error statusCode="404" redirect="404.aspx" />
      <error statusCode="500" redirect="500error.html" />
    </customErrors>
    <machineKey validationKey="716DFBFCE62552750E4FE242CC022756C5B1F1BE867E8CC742B406EB7EFF4FA3A29175978A1ED051D114A165781DDED539E56999E94A5F0AA4FEAAA38A2D1230" decryptionKey="6D56BE131BFF17E43B3504E27ABA4B60209DA3950CA02C4B5EE5BAFF2DD03C89" validation="SHA1" decryption="AES" />
  </system.web>
  <system.codedom>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </modules>
    
  </system.webServer>

  <rewriter>
    <!-- Home Page Rules -->
    <rewrite url="Educators_homepage.html" to="home.aspx?ci=1$&amp;recurl=home"/>
    <rewrite url="Schools_homepage.html" to="home.aspx?ci=2&amp;recurl=home"/>
    <rewrite url="Parents_homepage.html" to="home.aspx?ci=3&amp;recurl=home"/>
    <rewrite url="Students_homepage.html" to="home.aspx?ci=4&amp;recurl=home"/>
    <!-- /Home Page Rules -->
    
    <!-- Results Rules-->
    <rewrite url="search.pagegroup-(.*)_page-(.*)_textsearch-(.*)_fopt-(.*)_fopt-(.*)_fopt-(.*)_fopt-(.*)_fopt-(.*).shtml(.*)" to="result.aspx?pgg=$1&amp;pg=$2&amp;txtadv=$3&amp;findopt1=$4&amp;findopt2=$5&amp;findopt3=$6&amp;findopt4=$7&amp;findopt5=$8&amp;recurl=$9"/>
    <!-- Products Rules -->
    <rewrite url="(.*)--(.*).phtml" to="product.aspx?p=$2&amp;recurl=$1"/>
    <!-- Trials -->
    <rewrite url="Trials(.*)_pagegroup-(.*)_page-(.*).thtml" to="trials.aspx?pgg=$2&amp;pg=$3&amp;recurl=$1"/>
    <!-- Previews -->
    <rewrite url="Video(.*)_pagegroup-(.*)_page-(.*).vhtml" to="preview.aspx?pgg=$2&amp;pg=$3&amp;recurl=$1"/>
    <!-- Site Map -->
    <rewrite url="Site_Map.html" to="SiteMap.aspx?recurl=1"/>
    <!-- Clasification -->
    <rewrite url="(.*)_c(.*).clahtml" to="Classification.aspx?recurl=$1&amp;cp=$2"/>
    <!-- Clasification -->
    <rewrite url="Contact_Us.html" to="ContactUs.aspx?recurl=1"/>
    <!-- Generic A,B,C -->
    <rewrite url="(.*)--(.*)-(.*).ghtml" to="generic_$2.aspx?id=$3&amp;recurl=$1"/>
    <rewrite url="(.*)-r-(.*)-(.*).ghtml" to="generic_$2.aspx?id=$3&amp;recurl=$1&amp;TypeGen=1"/>
    <!-- Generic D,E -->
    <rewrite url="(.*)--(.*)-(.*).ghtml" to="generic_$2.aspx?id=$3&amp;recurl=$1"/>
    <rewrite url="(.*)-r-(.*)-(.*).ghtml" to="generic_$2.aspx?id=$3&amp;recurl=$1&amp;TypeGen=1"/>
    <!-- Generic X -->
    <rewrite url="(.*)--(.*).gxhtml" to="Generic_x.aspx?LandingId=$2&amp;recurl=$1"/>
    <!-- Feature Products -->
    <rewrite url="Feature_Products.html" to="featuredproduct.aspx?recurl=1"/>
    <!-- Free tools -->
    <rewrite url="Free_Tools.html" to="freeTools.aspx?id=0&amp;TypeGen=1&amp;recurl=1"/>
    <!-- New Account -->
    <rewrite url="New_Account.html" to="newAccount.aspx?recurl=1"/>
    <!-- NewInfo -->
    <rewrite url="New_Info.html" to="NewInfo.aspx?recurl=1"/>
    <!-- Print
    <rewrite url="Print" to="print.aspx?recurl=1"/> -->
    <!-- Publisher List -->
    <rewrite url="publisher.grouppage(.+)_page-(.+)_p-(.+).plhtml" to="publisherList.aspx?pgg=$1&amp;pg=$2&amp;idP=$3&amp;recurl=1"/>
    <!-- Products -->
    <rewrite url="(.*)--(.+).phtml" to="Product.aspx?p=$2&amp;recurl=$1"/>
    <!-- Request A Quote -->
    <rewrite url="Request_A_Quote.html" to="requestaquote.aspx?recurl=1"/>
    <!-- Finish a Quote -->
    <rewrite url="Finish_Quote.html" to="requestaquote.aspx?recurl=1&amp;end=1"/>
    <!-- Request A Quote with params -->
    <rewrite url="Request_A_Quote-_-(.*).html" to="requestaquote.aspx?recurl=1&amp;title=$1"/>
    <!-- Request A Catalog -->
    <rewrite url="Request_A_Catalog.html" to="requestACatalog.aspx?id=0&amp;TypeGen=1&amp;recurl=1"/>
    <!-- Support -->
    <rewrite url="Support.html" to="support.aspx?id=0&amp;TypeGen=1&amp;recurl=1"/>
    <!-- Resource Center -->
    <rewrite url="Resource_Center.html" to="resourcecenter.aspx?id=0&amp;TypeGen=1&amp;recurl=1"/>
    <!-- whats New -->
    <rewrite url="Whats_new_(.+).html" to="WhatsNew.aspx?cp=$1&amp;recurl=1"/>
    <!-- Wisht List -->
    <!--<rewrite url="Wish_List" to="wishlist.aspx?recurl=1"/>-->
    <!-- My Account -->
    <rewrite url="My_Account.html" to="myAccount.aspx?recurl=1"/>
    <!-- New Info -->
    <rewrite url="New_Info.html" to="newinfo.aspx?recurl=1"/>
  </rewriter>
</configuration>
